<main class="c-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"></div>
            <!-- ngFor for para percorrer o array de erros e se existir erros imprimir na tela -->
            <div class="alert alert-danger" role="alert" *ngFor="let erro of mensagemErros">
                {{ erro }}
            </div>
        </div>
        <div class="mat-elevation-z8">
            <mat-card>
                <mat-card-title>
                    <mat-icon>color_lens</mat-icon>
                    Produtos
                </mat-card-title>
                <mat-tab-group mat-align-tabs="start" #tabGroup>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>add</mat-icon>
                            Cadastrar produto
                        </ng-template>
                        <!-- CADASATRANDO OBJETO INICIO -->
                        <mat-card>
                            <form [formGroup]="formulario" (ngSubmit)="submit()">
                                <!--passa qual é o formulario e o evento-->
                                <mat-form-field class="full-width">
                                    <mat-label>ID</mat-label>
                                    <input formControlName="id" matInput readonly>
                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Nome</mat-label>
                                    <input formControlName="name" matInput placeholder="Digite seu nome" minlength="3"
                                        maxlength="50" required>
                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Preço</mat-label>
                                    <span matPrefix>R$ &nbsp;</span>
                                    <input matInput formControlName="price" mask="separator.2" thousandSeparator="."
                                        placeholder="1.000,00" minlength="1" maxlength="6" required>
                                    <mat-error *ngIf="formulario.controls.price.hasError('required')">Preço é
                                        obrigatório! Informe 0 para itens sem preço.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Situação do produto</mat-label>
                                    <mat-select formControlName="active" required>
                                        <mat-option value="true">Ativo</mat-option>
                                        <mat-option value="false">Inativo</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formulario.controls.active.hasError('required')">Status
                                        é obrigatório!</mat-error>
                                </mat-form-field>

                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <!-- habilita desabilita botão com o forma validate -->
                                        <button (click)="limparFormulario()" mat-raised-button>
                                            <mat-icon>insert_drive_file</mat-icon>
                                            Limpar
                                        </button>
                                    </div>
                                    <div class="col-6" align="right">
                                        <!-- habilita desabilita botão com o forma validate -->
                                        <button [disabled]="!formulario.valid" mat-raised-button color="primary">
                                            <mat-icon>save</mat-icon>
                                            Salvar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="esp-top">
                                <!-- verifica se tem erros no preenchimento do campo e se inicio o preenchimento -->
                                <div *ngIf="formulario.controls.name.errors && !formulario.controls.name.pristine"
                                    class="alert alert-warning" role="alert">
                                    Campo nome deve conter entre 3 e 50 caracteres!
                                </div>
                                <!-- verifica se tem erros no preenchimento do campo e se inicio o preenchimento -->
                                <div *ngIf="formulario.controls.price.errors && !formulario.controls.price.pristine"
                                    class="alert alert-warning" role="alert">
                                    Verifique o preço informado!
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <!-- CADASATRANDO OBJETO INICIO -->

                    <!-- LISTANDO TODAS INICIO -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>list</mat-icon>
                            Listar produtos
                        </ng-template>
                        <mat-card>
                            <!-- //inicio da tabela -->
                            <table mat-table [dataSource]="products" class="full-width">
                                <!-- Coluna ID -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> ID </th>
                                    <td mat-cell *matCellDef="let product"> {{ product.id }} </td>
                                </ng-container>

                                <!-- Coluna Nome -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                                    <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
                                </ng-container>

                                <!-- Coluna preco -->
                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef>Preço</th>
                                    <td mat-cell *matCellDef="let product"> {{ product.price | currency:'BRL'}} </td>
                                </ng-container>

                                <!-- coluna status -->
                                <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                    <td mat-cell *matCellDef="let product">
                                        <div *ngIf="product.active==true; else elseBlock">
                                            <p class="text-primary">Ativo</p>
                                        </div>
                                        <ng-template #elseBlock>
                                            <p class="text-danger">Inativo</p>
                                        </ng-template>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="excluir">
                                    <th mat-header-cell *matHeaderCellDef>Excluir</th>
                                    <td mat-cell *matCellDef="let product">
                                        <button (click)="openDialog(product.id)" mat-icon-button color="warn">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="editar">
                                    <th mat-header-cell *matHeaderCellDef>Editar</th>
                                    <td mat-cell *matCellDef="let product">
                                        <button (click)="editar(product.id)" (click)="tabGroup.selectedIndex = 0"
                                            mat-icon-button color="accent">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>


                                <!-- definir como vai ser as linhas e a ordem das colunas -->
                                <tr mat-header-row *matHeaderRowDef="ordemColunasTabela"></tr>
                                <tr mat-row *matRowDef="let row; columns: ordemColunasTabela;"></tr>
                            </table>

                            <!-- paginação -->
                            <mat-paginator [length]="totalElementos" [pageSize]="tamanho"
                                [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)">
                                <!-- evento de paginar -->
                            </mat-paginator>

                        </mat-card>
                    </mat-tab>
                    <!-- LISTANDO TODAS FIM -->
                </mat-tab-group>
            </mat-card>
        </div>
    </div>

</main>