<div class="c-subheader sticky-top justify-content-between px-3 c-header-shadow">
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/product">Produtos</a></li>
        <li class="breadcrumb-item active" aria-current="page">PDV</li>
    </ol>
    <!-- Breadcrumb Menu-->
    <div class="c-subheader-nav" >
        <div class="btn-group" role="group">
            <button mat-button matTooltip="Limpar dados" (click)="limparFormulario()">
                <i class="fa fa-file-text-o"></i> Limpar
            </button>
            <button mat-raised-button color="primary" matTooltip="Salvar venda" (click)="openDialog()">
                <i class="fa fa-floppy-o"></i> Save
            </button>
        </div>
    </div>
</div>
<main class="c-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"></div>
            <!-- ngFor for para percorrer o array de erros e se existir erros imprimir na tela -->
            <div class="alert alert-danger" role="alert" *ngFor="let erro of mensagemErros">
                {{ erro }}
            </div>
        </div>
        <div class="mat-elevation-z8">
            <mat-grid-list cols="5" rowHeight="100px">
                <mat-grid-tile [colspan]="5" [rowspan]="1">
                    <div class="font-30-center"> {{statusCaixa}} </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5" class="full-width">
                    <!-- INICIO TABELA DE PRODUTOS -->
                    <div class="full-width">
                        <section class="tabel-container mat-elevation-z8" tabindex="0">
                            <table mat-table [dataSource]="productsSolds" class="full-width">
                                <!-- Coluna ID -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> Item </th>
                                    <td mat-cell *matCellDef="let productSold"> {{ productsSolds.length }} </td>
                                    <td mat-footer-cell *matFooterCellDef> Total </td>
                                </ng-container>

                                <!-- Coluna quantidade -->
                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                                    <td mat-cell *matCellDef="let productSold"> {{ productSold.quantity }} </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <!-- Coluna Nome -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                                    <td mat-cell *matCellDef="let productSold"> {{ productSold.product.name }} </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <!-- Coluna preco -->
                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef>Preço</th>
                                    <td mat-cell *matCellDef="let productSold"> {{ productSold.price | currency:'BRL'}}
                                    </td>
                                </ng-container>

                                <!-- Coluna preco total -->
                                <ng-container matColumnDef="priceTotal">
                                    <th mat-header-cell *matHeaderCellDef>Total</th>
                                    <td mat-cell *matCellDef="let productSold"> {{ productSold.priceTotal |
                                        currency:'BRL'}}
                                    </td>
                                </ng-container>

                                <!-- definir como vai ser as linhas e a ordem das colunas -->
                                <tr mat-header-row *matHeaderRowDef="ordemColunasTabela; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: ordemColunasTabela;"></tr>
                            </table>
                        </section>
                        <!-- FIM TABELA DE PRODUTOS -->
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="3">
                    <!-- LOGOMARCA -->
                    <img mat-card-image src="/assets/images/logopdv.png" alt="Logo demo do sistema">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <mat-card>
                        <form [formGroup]="formAddItem">
                            <!-- ENTRADA DE DADOS CÓDIGO DE BARRAS -->
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Código do produto</mat-label>
                                <input maxlength="13" formControlName="id" mask="separator.0" matInput
                                    placeholder="ex: 0000000000000">
                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Quantidade</mat-label>
                                <input maxlength="3" formControlName="quantidade" mask="separator.0" matInput
                                    placeholder="ex: 1">
                            </mat-form-field>

                            <button [disabled]="!formAddItem.valid" class="full-width" mat-raised-button color="primary" (click)="adicionarItem()">
                                <mat-icon>add</mat-icon>
                                Incluir Produto
                            </button>
                        </form>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="5" [rowspan]="1">
                    <mat-card class="full-width">
                        <div class="font-30-center">
                            Valor total a pagar: <b> {{getTotalCost() | currency:'BRL'}} </b>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
            <!-- IMPRIMIR NA TELA
            <pre>{{ salevenda | json }}</pre> -->
        </div>
    </div>

</main>