// ---
// CSS to make material design compatible to coreui & bootstrap
// ---

// material dialog has the z-index 1000
.c-sidebar.c-sidebar-fixed {
    z-index: 999;
}

.col.table,
.col.mat-form-field {
    width: 100%;
}

// grid integration for material
.row {
    // a little css to set the width for material components to 100% in bootstrap grid
    .mat-card {
        width: 100%;
    }
}



.btn {
    .mat-icon {
        font-size: 1.09375rem;
        vertical-align: middle;
        width: initial;
        height: initial;
    }
}

// if the mat paginator gets smaller as 450px it will float the buttons
// and break the design
.mat-paginator {
    min-width: 450px;
}

// menu material icon support
.nav-icon.mat-icon {
    font-size: 1.09375rem;
    vertical-align: text-top;
}
.c-sidebar-nav-icon.mat-icon {
    height: unset;
}