// cor do fundo componentes
.fundo-componente {
  background-color: #ffffff;
}

.full-width {
  width: 100%
}

.esp-top-20 {
  padding-top: 20px;
}

.esp-right {
  padding-right: 10px;
}

.esp-bottom {
  padding-bottom: 10px;
}

.esp-left {
  padding-left: 10px;
}

span {
  font-weight: bold;
}