<div #sidebar appSidebar>
</div>

<!--
    Main content leaving the div content class
    https://coreui.io/docs/layout/overview/
-->
<div class="c-wrapper">
  <!--
      https://coreui.io/docs/components/header/
  -->
  <header class="c-header c-header-light c-header-fixed c-header-shadow">
    <button matRipple class="c-header-toggler" type="button" (click)="sidebar.toggle()">
      <span class="c-header-toggler-icon"></span>
    </button>

    <div class="c-header-brand">
      <strong>Sistema de Vendas PDV Web</strong>
    </div>
  </header>

  <div class="c-body">
    <router-outlet></router-outlet>
  </div>
  <!-- //footer inicio -->
  <footer class="esp-top-20">
    <mat-card>Copyright © 2022 <span>Leandro Nazareth</span> - Projeto: Java 11 - Angular 12</mat-card>
  </footer>
  <!-- //footer fim -->

</div>