<!--
https://coreui.io/docs/components/sidebar/
-->
<!-- style="background-color: #e3f2fd;" mudar a cor -->
<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="home" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-home"></i> Home
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="product" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon">
                <mat-icon>splitscreen</mat-icon>
            </i> Produto
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="sale" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon">
                <mat-icon>point_of_sale</mat-icon>
            </i> PDV
        </a>
    </li>

    <mat-divider></mat-divider>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://github.com/leandrosnazareth/pdv-app">
            <i class="c-sidebar-nav-icon fa fa-github"></i> Código Fonte
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://coreui.io/angular/docs/4.0/getting-started/introduction"
            target="_blank">
            <i class="c-sidebar-nav-icon icon-book-open"></i> CoreUI Doc
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://material.angular.io/components/categories"
            target="_blank">
            <i class="c-sidebar-nav-icon icon-book-open"></i> Angular Material
        </a>
    </li>

    <!-- conteudo da página -->
    <ng-content></ng-content>
</ul>