<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="home" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon">
                <mat-icon>home</mat-icon>
            </i> Daskboard
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="product" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon">
                <mat-icon>splitscreen</mat-icon>
            </i> Produto
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="sale" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon">
                <mat-icon>point_of_sale</mat-icon>
            </i> PDV
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="sales" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon">
                <mat-icon>attach_money</mat-icon>
            </i> Vendas
        </a>
    </li>

    <mat-divider></mat-divider>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="http://localhost:8080/swagger-ui/index.html">
            <i class="c-sidebar-nav-icon fa fa-book"></i>Swagger
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://github.com/leandrosnazareth/pdv-api">
            <i class="c-sidebar-nav-icon fa fa-github"></i>API
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://github.com/leandrosnazareth/pdv-app">
            <i class="c-sidebar-nav-icon fa fa-github"></i>APP
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://coreui.io/angular/docs/4.0/getting-started/introduction"
            target="_blank">
            <i class="c-sidebar-nav-icon icon-book-open"></i> CoreUI Doc
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://material.angular.io/components/categories"
            target="_blank">
            <i class="c-sidebar-nav-icon icon-book-open"></i> Angular Material
        </a>
    </li>

    <mat-divider></mat-divider>

    <button mat-raised-button color="accent" (click)="sair()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>

    <!-- conteudo da página -->
    <ng-content></ng-content>
</ul>