<h1 mat-dialog-title>Fechamento de venda</h1>
<div mat-dialog-content>
    <p>Qual seu animal preferido?</p>
    <mat-form-field appearance="fill">
        <mat-label>Valor Total</mat-label>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Valor Total</mat-label>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Valor Total</mat-label>
        <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Selecione</mat-label>
        <mat-select>
            <mat-option [value]="payment" *ngFor="let payment of payments">{{payment}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Confirmar Venda</button>
</div>