<h1 mat-dialog-title>Fechamento de venda</h1>
<div mat-dialog-content>
    <p>Informe os dados para pagamento!</p>
    <mat-form-field appearance="fill">
        <mat-label>Valor Total</mat-label>
        <input matInput [(ngModel)]="data.pagar">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Valor Total</mat-label>
        <input matInput id="pago"  name ="pago" [(ngModel)]="data.pago" mask="separator.2" thousandSeparator="." placeholder="1.000,00"
            minlength="1" maxlength="6" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Valor Total</mat-label>
        <input matInput id="troco" name ="troco" [(ngModel)]="data.troco" mask="separator.2" thousandSeparator="." placeholder="1.000,00"
            minlength="1" maxlength="6" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Selecione</mat-label>
        <mat-select id="pagamento"  name ="pagamento" [(value)]="data.payment">
            <mat-option [value]="payment" *ngFor="let payment of payments">{{payment}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar Venda</button>
</div>