.full-width {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.half-width {
    width: 50%
}

.esp-top {
    padding-top: 10px;
  }

.esp-right {
    padding-right: 10px;
  }

.esp-bottom {
    padding-bottom: 10px;
  }

.esp-left {
    padding-left: 10px;
}

input {
  text-align: right;
}
