.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.esp-top {
    padding-top: 10px;
  }

.esp-right {
    padding-right: 10px;
  }

.esp-bottom {
    padding-bottom: 10px;
  }

.esp-left {
    padding-left: 10px;
}
  