<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo-container">
      <img src="assets/images/logopdv.png" alt="PDV Logo" class="logo">
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="sale" routerLinkActive="active-link">
        <mat-icon matListItemIcon>point_of_sale</mat-icon>
        <span matListItemTitle>Nova Venda</span>
      </a>
      <a mat-list-item routerLink="sales-list" routerLinkActive="active-link">
        <mat-icon matListItemIcon>list_alt</mat-icon>
        <span matListItemTitle>Vendas</span>
      </a>
      <a mat-list-item routerLink="product" routerLinkActive="active-link">
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Produtos</span>
      </a>
    </mat-nav-list>
    <div class="sidenav-footer">
      <button mat-button (click)="logout()" class="logout-btn">
        <mat-icon>exit_to_app</mat-icon>
        Sair
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
