<main class="c-main">
    <div class="container-fluid">
        <mat-card class="mb-4">
            <div class="row">
                <div class="col-sm-2">
                    <div class="c-callout c-callout-info b-t-1 b-r-1 b-b-1">
                        <small class="text-muted">Quantidade Vendas</small><br>
                        <strong class="h4">{{totalVendas | currency:'BRL'}}</strong>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                    <div class="c-callout c-callout-danger b-t-1 b-r-1 b-b-1">
                        <small class="text-muted">Total Vendas</small><br>
                        <strong class="h4">{{totalVendas | currency:'BRL'}}</strong>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                    <div class="c-callout c-callout-warning b-t-1 b-r-1 b-b-1">
                        <small class="text-muted">Vendas do mês</small><br>
                        <strong class="h4">{{totalVendas | currency:'BRL'}}</strong>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                    <div class="c-callout c-callout-success b-t-1 b-r-1 b-b-1">
                        <small class="text-muted">Produtos Cadastrados</small><br>
                        <strong class="h4">{{totalVendas | currency:'BRL'}}</strong>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                    <div class="c-callout b-t-1 b-r-1 b-b-1">
                        <small class="text-muted">Produtos Ativos</small><br>
                        <strong class="h4">{{totalVendas | currency:'BRL'}}</strong>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-2">
                    <div class="c-callout c-callout-primary b-t-1 b-r-1 b-b-1">
                        <small class="text-muted">Produtos Inativos</small><br>
                        <strong class="h4">{{totalVendas | currency:'BRL'}}</strong>
                        <P>TESTE</P>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </mat-card>
    </div>
    <div class="container-fluid">
        <mat-card class="mb-4">
            <mat-card-header>
                <mat-card-title>Card Title </mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field>
                            <input matInput placeholder="First Name">
                        </mat-form-field>
                    </div>

                    <div class="col-sm">
                        <mat-form-field>
                            <input matInput placeholder="Last Name">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-sm">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button class="mt-4" value="1">Option 1</mat-radio-button>
                            <mat-radio-button class="mt-4" value="2">Option 2</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

</main>