<main class="c-main">
    <div class="container-fluid">
        <mat-card class="mb-4">
            <div class="row">
                <!--/.col quantidade venda-->
                <div class="col-md-3">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <mat-icon>local_convenience_store</mat-icon>
                            <h1>{{totalVendas}} vendas</h1>
                            <h4>Quantidade de vendas realizadas</h4>
                            <div class="progress progress-white progress-thin mt-3">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col valor total venda-->
                <div class="col-md-3">
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <mat-icon>paid</mat-icon>
                            <h1>{{valorVendas | currency:'BRL'}} vendidos</h1>
                            <h4>Valor total vendido</h4>
                            <div class="progress progress-white progress-thin mt-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col total produtos cadastrados -->
                <div class="col-md-3">
                    <div class="card text-white bg-warning">
                        <div class="card-body">
                            <mat-icon>splitscreen</mat-icon>
                            <h1>{{produtosCadastrados}} produtos</h1>
                            <h4>Quantidade de produtos cadastrados</h4>
                            <div class="progress progress-white progress-thin mt-3">
                                <div class="progress-bar" role="progressbar" style="width: 18%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col produtos ativos-->
                <div class="col-md-3">
                    <div class="card text-white bg-danger">
                        <div class="card-body">
                            <mat-icon>toggle_on</mat-icon>
                            <h1>{{produtosAtivos}} produtos ativos</h1>
                            <h4>Quantidade de produtos ativos</h4>
                            <div class="progress progress-white progress-thin mt-3">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </mat-card>
    </div>

    <div class="container-fluid">
        <mat-card class="mb-4">
            <mat-card-header>
                <mat-card-title>Dashboard</mat-card-title>
                <mat-card-subtitle>ultimas vendas realizadas</mat-card-subtitle>
            </mat-card-header>
            <div class="mat-elevation-z8">
                <mat-card>
                    <!-- //inicio da tabela -->
                    <table mat-table [dataSource]="sales" class="full-width">
                        <!-- Coluna ID -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Número </th>
                            <td mat-cell *matCellDef="let sale"> {{ sale.id }} </td>
                        </ng-container>

                        <!-- Coluna Nome -->
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Cobrado </th>
                            <td mat-cell *matCellDef="let sale"> {{ sale.amount | currency:'BRL'}} </td>
                        </ng-container>

                        <!-- Coluna preco -->
                        <ng-container matColumnDef="amountPaid">
                            <th mat-header-cell *matHeaderCellDef>Pago</th>
                            <td mat-cell *matCellDef="let sale"> {{ sale.amountPaid | currency:'BRL'}} </td>
                        </ng-container>

                        <!-- Coluna preco -->
                        <ng-container matColumnDef="difference">
                            <th mat-header-cell *matHeaderCellDef>Troco</th>
                            <td mat-cell *matCellDef="let sale"> {{ sale.difference | currency:'BRL'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="payment">
                            <th mat-header-cell *matHeaderCellDef> Pagamento </th>
                            <td mat-cell *matCellDef="let sale"> {{ sale.payment }} </td>
                        </ng-container>

                        <!-- definir como vai ser as linhas e a ordem das colunas -->
                        <tr mat-header-row *matHeaderRowDef="ordemColunasTabela"></tr>
                        <tr mat-row *matRowDef="let row; columns: ordemColunasTabela;"></tr>
                    </table>

                </mat-card>
            </div>
        </mat-card>
    </div>

</main>